<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
	<key>NSFaceIDUsageDescription</key>
	<string>TimeBlocking uses Face ID to securely lock and unlock your data.</string>
	<key>NSCalendarsUsageDescription</key>
	<string>TimeBlocking needs calendar access to view and manage your scheduled events.</string>
	<key>NSCalendarsFullAccessUsageDescription</key>
	<string>TimeBlocking requires full calendar access to view, add, and modify your scheduled events.</string>
	<key>NSCalendarsWriteOnlyAccessUsageDescription</key>
	<string>TimeBlocking requires calendar access to add new events.</string>
	<key>UILaunchScreen</key>
	<dict>
		<key>UIColorName</key>
		<string>LaunchBackground</string>
	</dict>
</dict>
</plist>
